body {
  background-image: url('../img/wallpaper.jpeg');
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-around;
  margin-top: 20px;
}

.title {
  text-transform: uppercase;
  font-weight: bold;
}

.title-1 {
  font-size: larger;
}

.header {
  position: sticky;
  top: 0;
  background-color: bisque;
  width: 100%;
  text-align: center;
  height: 5vh;
  padding-top: 20px;
}

.main {
  width: 75%;
  text-align: center;
}

.main-intro {
  line-height: 25px;
  color: white;
}

.main-choose {
  padding: 10px 0;
  font-weight: bold;
  color: white;
}

.title-2 {
  font-size: 30px;
  padding: 20px 0;
  color: white;
}

.result {
  padding: 10px 0;
  margin: 10px 0;
  background-color: bisque;
}
.score {
  margin: 20px;
  line-height: 30px;
  border: 2px solid bisque;
  background-color: rgba(239, 228, 216, 0.781);
  border-radius: 12px;
}

.score-points {
  display: flex;
  justify-content: space-around;
}

.button {
  background-color: #f1f1f1;
  padding: 10px;
  margin: 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button:hover {
  background-color: red;
  color: white;
}

.footer {
  opacity: 0.7;
  bottom: 0;
  position: relative;
}

.copy {
  color: white;
}

.images {
  display: flex;
  justify-content: space-around;
}

.img,
.vs {
  height: 200px;
  width: 200px;
}

.title-3 {
  color: white;
  margin-bottom: 10px;
}

.span {
  color: white;
  font-weight: bold;
}

.hidden,
.hidden2 {
  display: none;
}

@media all and (min-width: 768px) {
  .hidden2 {
    display: block;
  }
}
